<div class="form">
  <form>
    <h2>Здравствуйте!</h2>
    <p>Для дальнейшей работы с приложением вам необходимо зарегестрироваться</p>
    <span class="p-float-label">
      <input id="login" type="text" pInputText class="p-inputtext-lg" [(ngModel)]="login" [ngModelOptions]="{standalone: true}" placeholder="Логин"/>
      <label for="login"></label>
    </span>

    <span class="p-float-label">
      <input id="password" type="password" pInputText class="p-inputtext-lg" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Пароль"/>
      <label for="password"></label>
    </span>
    <div style="margin-top: 0.9em">
      <button pButton type="button" label="Зарегестрироваться" (click)="register()"></button>
    </div>

  </form>
</div>
