form{
  margin-left: 10%;
  margin-right: 10%;
}

h5{
  font-size: 3rem;
}


.messages{
  position: absolute;
  bottom: 10px;
}
button{
  margin-right: 1.5em;
  margin-bottom: 1em;
}

.p-float-label{
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  margin-right: 0.7em;;
}
